  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    word-break: break-word;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
  }
  
  ol, ul {
    list-style: none;
  }

  html { 
    height: 100%;
  }
  
  body {
    padding: 0;
  }
  
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
    color: var(--black);
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }


.grecaptcha-badge { 
    visibility: hidden !important;
}

textarea,
input {
  outline: none;
}