:root {
    // Базовые цвета
    --white: #F2F2F2;
    --black: #000000;
    --grey-logo: #878FA1;
    --blue-logo: #2E4C63;
    --blue: #577D8F;
    --blue-medium: #86A8B8;
    --blue-light: #E8EEF1;
    --gold: #DAA261;
    --gold-medium: #F6EDE3;
    --gold-light: #F2ECE9;
    --brown-dark: #2B2623;
    --brown: #654E40;
    --brown-medium: #88817D;
    --brown-light: #B7B1AE;
    --brown-ultra-light: #E8E1DE;
    --red: #C95F5F;

    // Прозрачные
    --white-50: #F2F2F280;
    --white-70: #F2F2F2B2;
    --grey-20: #16253133;
    --black-60: #24272899;
    --gold-50: #DAA26180;
    --gold-70: #DAA261B3;

    // Эффекты
    --shadow-1: #7C818C3D;
    --shadow-2: #25282E3D;
    --layer-blur: #577D8F;
}













